body{
    width: 95%;
    margin: auto;
}

.title {
    text-align: center ; 
    border: 1px solid black; 
    height: 12rem;
    background-color: rgba(10, 13, 14, 0.808);
}
#mycontact ul label {
    padding-right: 10px;
    font-size: 1rem;
}
#mycontact {
   border: 1px solid rgb(17, 13, 13);
   height: 44rem;
   width: 15rem;
   background-color: rgb(7, 61, 61);
   float: left;
}
.Contact h3{
    text-align: center; 
    width: 14rem;
    margin: 1rem auto;
    color: white;
    background-color: rgba(21, 24, 26, 0.808);
}
#MyInformations {
  width: 45rem;
  border: 1px solid black; 
  float:left; 
  
}
.title h1{
     margin: 60px auto;  
    font-size: 3.5rem;
    color: white;
}

.formations h3,
.experiences h3,
.competences h3 {
    text-align: center;
    background-color: rgba(10, 13, 14, 0.808);
    color: white;
    width: 20rem;
    margin: 1rem auto;
}
.formations ul,
.experiences ul ,
.competences ul{
    list-style-type: none;
};
/* #mycontact ul label {
    padding-right: 10px;
    font-size: 1rem;
}
#mycontact {
   border: 1px solid rgb(17, 13, 13);
   height: 44rem;
   width: 15rem;
   background-color: rgb(7, 61, 61);
}
.Contact h3{
    text-align: center; 
    /* border: 1px solid black; */
    /* width: 14rem;
    margin: 1rem auto;
    color: white;
    background-color: rgba(21, 24, 26, 0.808); */

    